/*pertaining to entire website*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* adds background color to website, used on whole website*/
body {
    background-color: #d9dcd6;
}

/* the css code below from line 14 - 45 control headers background color, font size, font color and placement of the text alond with the nav list that is in this area*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a is deteremining the color of the text and p is determining the size*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*background image, controls how big the image is and where it is placed and if it covers the whole webpage or only part of it*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*places the section part of the website on the left and the aside part on the right and determines how much margin space they will have between the section and the aside*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*makes teh section side bigger than the aside by giving it more width and makes sure the boxes do not overlap and are neat and determine how much margin space the section will have from the end of the page on the left*/
section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*determine how much margin space the section will have from the end of the page on the right, makes it smaller than the section area by giving it less width, assigns a font to the text, and determine how high it will be and the background color*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*line 98 - 111 determines the margin space underneath the p text sepeating the p and the hext h3 or the bottom of the box, and the color of the text*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* line 114 - 127 centers the h3 headings and puts some margin space underneath to seperate from the img*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* line 130-146 pertains to imgs in aside and makes sure the images do not overlap the text and gives it a margin to space it out and also asigns max size so the img will not get too big*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*line 149-174 determines the font color and style of wording in the section area and gives each little section its own marhin space underneath, and determines the height of each box and the padding, and the background color inside the box*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*line 177-187 determie a maximum size for the imgs in the section area as to make sure these images do not get any bigger than that, though they can get smaller s you minimize the page, they will not excced 200px*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/*lines 190 - 203 give the headers in the section its font size and a marging bottom so it has space between itself and the text below it*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*the rest of this code pertains to the footer and gives it padding, makes sure the text is centered, determines font size and style, and makes sure to bypass the float rules so that the footer does not float left or right*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
